.DS_Store
Thumbs.db

*.log

node_modules/
vendor/

.env

*.class
*.pyc
*.o

/build/
/dist/
/out/

.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

problem_users
results
details
event_list
*.zip
emails.db